body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url("../images/background.png");
	background-repeat: 
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


.img-connect {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 25px;
    margin-right: 10px;
}

footer {
    width: 100%;
    height: 80px;
    margin-top: 90px;
    background-color: #343a40;
    border-style: solid;
    border-top-width: 5px;
    border-color: #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: lightgrey;
}

#section-contactme{
	height: 200px;
	padding: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	background-color: #ffffff;
	
}


#h2-contactme{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
	color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
}

.img-contactlink{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 25px;
	margin-right: 10px;
}











#div-aboutme{
	padding: 30px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
}

#h1-aboutme{
	font-size: 100px;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #dddddd;
	padding-bottom: 20px;

}

#section-aboutmecontent{
	margin-top: 25px;
}

#img-me {
	width: 200px;
	height: 175px;
	margin-right: 25px;
	margin-bottom: 25px;
	float: left;
	position: relative;
	top: 6px;
}

